
*.vsidx
*.v2
*.bin
.vs/FFXIVIMDicGenerator/FileContentIndex/41c36509-afb3-49bc-8210-2662fc72c79d.vsidx
.vs/FFXIVIMDicGenerator/DesignTimeBuild/.dtbcache.v2
.vs/FFXIVIMDicGenerator/FileContentIndex/4c5ea90c-3f29-48ce-b84d-f21554bca805.vsidx
.vs/FFXIVIMDicGenerator/FileContentIndex/68ef01b9-9acf-4f08-92f2-fa0f9084cebe.vsidx
.vs/FFXIVIMDicGenerator/FileContentIndex/6aab5638-91cd-41eb-a2ee-0832589476d4.vsidx
.vs/FFXIVIMDicGenerator/v17/.futdcache.v2
.vs/FFXIVIMDicGenerator/v17/.suo
.vs/ProjectEvaluation/ffxivimdicgenerator.metadata.v7.bin
.vs/ProjectEvaluation/ffxivimdicgenerator.projects.v7.bin
FFXIVIMDicGenerator/bin/Release/net6.0-windows/Links.txt
FFXIVIMDicGenerator/bin/Release/net6.0-windows/output.txt
.vs/FFXIVIMDicGenerator/FileContentIndex/41c36509-afb3-49bc-8210-2662fc72c79d.vsidx
.vs/FFXIVIMDicGenerator/DesignTimeBuild/.dtbcache.v2
.vs/FFXIVIMDicGenerator/FileContentIndex/4c5ea90c-3f29-48ce-b84d-f21554bca805.vsidx
.vs/FFXIVIMDicGenerator/FileContentIndex/68ef01b9-9acf-4f08-92f2-fa0f9084cebe.vsidx
.vs/FFXIVIMDicGenerator/FileContentIndex/6aab5638-91cd-41eb-a2ee-0832589476d4.vsidx
.vs/FFXIVIMDicGenerator/v17/.futdcache.v2
.vs/FFXIVIMDicGenerator/v17/.suo
.vs/ProjectEvaluation/ffxivimdicgenerator.metadata.v7.bin
.vs/ProjectEvaluation/ffxivimdicgenerator.projects.v7.bin
