.vs
FFXIVIMDicGenerator/bin
FFXIVIMDicGenerator/obj
.vs/FFXIVIMDicGenerator/v17/.suo
UpdateProgram/bin
UpdateProgram/obj
FFXIVIMDicGenerator/Properties/PublishProfiles/FolderProfile.pubxml.user
UpdateProgram/Properties/PublishProfiles/FolderProfile.pubxml.user
